body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #dedede;
  min-height: calc(100vh - 60px);
  min-width: 400px;
  margin: 30px;
}

.inlb {
  display: inline-block;
}

.vaMid {
  vertical-align: middle;
}

.title {
  font-weight: bold;
  font-size: 1.6em;
}
